@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #aeaeae, #ffffff);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-bar {
  background-image: url("./assets/search.svg");
  background-position: 0.6rem 0.4rem;
  background-repeat: no-repeat;
  background-size: 1.6rem;
}
